{% extends "partials/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Post
{% endblock title %}

{% block navbar %}
{% include "partials/nav.html" %}
{% endblock navbar %}

{% block content %}

<div class="card border-primary">
  <div class="card-header">{{ object.title }} {{ object.created_at.date }}</div>
  <div class="card-body text-primary">
    <p class="card-text">{{ object.body }}</p>
    <small><span>@{{ object.author }}</span></small>
  </div>
</div>



<div id="comment-list">
<div class="list-group">
{% for comment in comments %}
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <small class="text-muted">{{ comment.created_at }}</small>
    </div>
    <p class="mb-1">{{ comment.comment }}</p>
    <small class="text-muted">@{{comment.commented_by}}</small>
  </a>
  {% endfor %}
</div>
</div>







<form action="" id="create-comment" data-post-id={{ object.pk }} data-comment-url="{% url 'create-comment' id=object.pk  %}">
<div class="form-group">
    <label for="comment"><b>Comments</b></label>
    <textarea class="form-control" id="comment" rows="3"></textarea>
  </div>
    <button type="submit" class="btn btn-primary">Comment</button>

</form>

{% endblock content %}

{% block rightbar %}
{% include "post/rightbar.html" %}
{% endblock rightbar %}

{% block footer %}
{% include "partials/footer.html" %}
{% endblock footer %}

{% block script %}
{% include "partials/script.html" %}
<script>
$("#create-comment").submit(function(e){
  e.preventDefault()
    $.ajax({
        url: $("#create-comment").data("comment-url"),
        method: "post",
        data: {
            "comment": $("#comment").val(),
            "csrfmiddlewaretoken": "{{ csrf_token }}"
        },
        success : function(data){
                console.log(data)
                $("#comment-list").replaceWith(data)
        },
        error: function(data){
            console.log("Error")
            console.log(data)
        }
    });
});
</script>
{% endblock script %}